body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.color{
    color: mediumorchid;
}
.flexible{
    display:flex;
    margin-bottom: 150px;


}
.half{
    width: 50%;
    padding-left: 10%;
    padding-top: 2%;
}
.half img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(purple, rgb(48, 6, 48)) ;
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
background-repeat: no-repeat;
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
padding-left: 10px;
border-radius: 10px;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#intern{
    border-left: 7px solid;
    border-image: linear-gradient( rgb(182, 10, 110),rgb(130, 134, 62));
    border-image-slice: 1;
}

#fiver{
    border-left: 7px solid;
    border-image: linear-gradient( rgb(235, 72, 8), rgb(231, 228, 27));
    border-image-slice: 1;
}
footer p{
    text-align: center;
}